---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Marquee from "../components/Marquee.astro";
import Problem from "../components/Problem.astro";
import Modules from "../components/Modules.astro";
import For from "../components/For.astro";
import How from "../components/How.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Nav />
  <main>
    <Hero />
    <Marquee />
    <Problem />
    <Modules />
    <For />
    <How />
    <CTA />
  </main>
  <Footer />
</Base>
